<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<div id="authors_articles">
  <% @authors_articles.each do |authors_article| %>
    <%= render authors_article %>
    <p>
      <%= link_to "Show this article", authors_article %>
    </p>
  <% end %>
</div>

<%= link_to "New article", new_authors_article_path %>
